DB_CLIENT=pg
DB_HOST=directus.db
DB_PORT=5432
DB_DATABASE=directusdb
DB_USER= le meme que dans cette ligne "test: [ "CMD", "pg_isready", "-U", "DB_USER", "-d", "directusdb" ]"
DB_PASSWORD=

ADMIN_EMAIL=
ADMIN_PASSWORD=


KEY=6116487b-cda1-52c2-b5b5-c8022c45e263
SECRET=255d861b-5ea1-5996-9aa3-922530ec40b1